@use "./style" as style;

body {
  margin: 0px;
  background-color: whitesmoke;
  color: style.$noir;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: "BebasNeue", "Gill Sans", "Gill Sans MT";
  margin: 4px;
  padding-bottom: 5px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

p,
button,
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid style.$noir;
  margin: 10px;
}

// COMPONENT ORGANISATION

#page {
  display: flex;
  flex-direction: column;
}

.component {
  @include style.border-component;
}

.headerPage {
  display: flex;
  justify-content: space-between;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 40px;
  width: calc(100% - 24px);
  background-color: style.$blanc;
  border-radius: 5px;
}

.modalOpen {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  animation-name: animatetop;
  background-color: rgba(0, 0, 0, 0.4);
  animation-duration: 0.4s;
}

.modalContent {
  position: relative;
  background-color: style.$blanc;
  color: style.$noir;
  @include style.border-component;
  margin: auto;
  width: 80%;
  height: 85%;
  overflow: scroll;
  padding: 1em;
}

// BUTTON

.frontPageLi,
button {
  border-radius: 5px;
  outline: none;
  border: none;
  color: style.$noir;
  padding: 2px 12px;
  margin: 5px 5px;
  background-color: style.$gris;
  min-height: 30px;
}

button {
  cursor: pointer;
}

.buttonOpenModal {
  font-family: "BebasNeue", Impact;
  border: 2px solid style.$rose;
  font-size: 2em;
  max-height: 50px;
}

.closeModalButton,
.buttonOpenModal,
.cookingOrder,
.readyOrder,
.modalOrder,
.emptyStockButton {
  background-color: transparent;
}

.grilledButton {
  background-color: style.$marron;
  color: style.$blanc;
}

.readyButton {
  background-color: style.$vert;
}

.cookingButton {
  background-color: style.$orange;
}

.neutralButton {
  background-color: style.$gris;
}

.neutralButton:hover,
.grilledButton:hover {
  background-color: style.$rose;
  color: style.$noir;
}

.neutralButton:active {
  background-color: style.$grisBordure;
}

.grilledButton:active {
  background-color: style.$beige;
  color: style.$noir;
}

.readyButton:hover {
  background-color: style.$vertFonce;
}

.readyButton:active {
  background-color: style.$vertClair;
}

.emptyStockButton {
  border: 2px solid style.$grisBordure;
  :hover {
    background-color: transparent;
    border: 2px solid style.$grisBordure;
    cursor: default;
  }
}

// TAB

.modalClose,
.tabClose {
  @include style.close-mode;
}

.tabs {
  background-color: style.$gris;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 5px;
}

.tabs:hover,
.tabs:focus,
.tabs:active,
.tabs:target {
  background-color: style.$rose;
}

.tabOpen {
  display: block;
  height: 110px;
}

// COMMANDES

.cookingOrder,
.readyOrder {
  flex-shrink: 0;
}

.cookingOrder {
  border: 2px solid style.$orange;
  border-radius: 5px;
  width: 168px;
}

.cookingOrder:hover,
.cookingOrder:focus,
.cookingOrder:active,
.cookingOrder:target {
  background-color: style.$orange;
}

.cookingOrder:active {
  background-color: style.$beige;
  color: style.$noir;
}

.readyOrder {
  border: 2px solid style.$vert;
  border-radius: 5px;
  width: 168px;
}

.modalOrder {
  border: 2px solid style.$rose;
  border-radius: 5px;
  width: 168px;
  height: 75px;
}

.readyOrder:hover {
  background-color: style.$vert;
}

.readyOrder:active {
  background-color: style.$vertClair;
  border-color: style.$vertClair;
}

.uniqueProductOrder {
  height: 10vh;
  overflow-y: scroll;
  margin: 4px;
}

// COMPONENT ELEMENTS

ul {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}
