@font-face {
  font-family: "BebasNeue";
  src: url("./assets/BebasNeue-Regular.ttf") format("truetype"), url("bebasneue-regular-webfont.woff2") format("woff2"), url("bebasneue-regular-webfont.woff") format("woff");
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
body {
  margin: 0px;
  background-color: whitesmoke;
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: "BebasNeue", "Gill Sans", "Gill Sans MT";
  margin: 4px;
  padding-bottom: 5px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

p,
button,
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid #0d0d0d;
  margin: 10px;
}

#page {
  display: flex;
  flex-direction: column;
}

.component {
  border: 4px solid #f2bbc9;
  margin: 4px;
  padding: 4px;
  border-radius: 15px;
  height: calc(45vh - 24px);
}

.headerPage {
  display: flex;
  justify-content: space-between;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 40px;
  width: calc(100% - 24px);
  background-color: #f2f2f2;
  border-radius: 5px;
}

.modalOpen {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  animation-name: animatetop;
  background-color: rgba(0, 0, 0, 0.4);
  animation-duration: 0.4s;
}

.modalContent {
  position: relative;
  background-color: #f2f2f2;
  color: #0d0d0d;
  border: 4px solid #f2bbc9;
  margin: 4px;
  padding: 4px;
  border-radius: 15px;
  height: calc(45vh - 24px);
  margin: auto;
  width: 80%;
  height: 85%;
  overflow: scroll;
  padding: 1em;
}

.frontPageLi, button {
  border-radius: 5px;
  outline: none;
  border: none;
  color: #0d0d0d;
  padding: 2px 12px;
  margin: 5px 5px;
  background-color: #d7d3d2;
  min-height: 30px;
}

button {
  cursor: pointer;
}

.buttonOpenModal {
  font-family: "BebasNeue", Impact;
  border: 2px solid #f2bbc9;
  font-size: 2em;
  max-height: 50px;
}

.closeModalButton,
.buttonOpenModal,
.cookingOrder,
.readyOrder,
.modalOrder,
.emptyStockButton {
  background-color: transparent;
}

.grilledButton {
  background-color: #402116;
  color: #f2f2f2;
}

.readyButton {
  background-color: #78e8c1;
}

.cookingButton {
  background-color: #f78800;
}

.neutralButton {
  background-color: #d7d3d2;
}

.neutralButton:hover,
.grilledButton:hover {
  background-color: #f2bbc9;
  color: #0d0d0d;
}

.neutralButton:active {
  background-color: #a6a6a6;
}

.grilledButton:active {
  background-color: #d9af8b;
  color: #0d0d0d;
}

.readyButton:hover {
  background-color: #4bbf52;
}

.readyButton:active {
  background-color: #c7f2b3;
}

.emptyStockButton {
  border: 2px solid #a6a6a6;
}
.emptyStockButton :hover {
  background-color: transparent;
  border: 2px solid #a6a6a6;
  cursor: default;
}

.modalClose, .tabClose {
  display: none;
}

.tabs {
  background-color: #d7d3d2;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 5px;
}

.tabs:hover, .tabs:focus, .tabs:active, .tabs:target {
  background-color: #f2bbc9;
}

.tabOpen {
  display: block;
  height: 110px;
}

.cookingOrder, .readyOrder {
  flex-shrink: 0;
}

.cookingOrder {
  border: 2px solid #f78800;
  border-radius: 5px;
  width: 168px;
}

.cookingOrder:hover, .cookingOrder:focus, .cookingOrder:active, .cookingOrder:target {
  background-color: #f78800;
}

.cookingOrder:active {
  background-color: #d9af8b;
  color: #0d0d0d;
}

.readyOrder {
  border: 2px solid #78e8c1;
  border-radius: 5px;
  width: 168px;
}

.modalOrder {
  border: 2px solid #f2bbc9;
  border-radius: 5px;
  width: 168px;
  height: 75px;
}

.readyOrder:hover {
  background-color: #78e8c1;
}

.readyOrder:active {
  background-color: #c7f2b3;
  border-color: #c7f2b3;
}

.uniqueProductOrder {
  height: 10vh;
  overflow-y: scroll;
  margin: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}

/*# sourceMappingURL=App.css.map */
