#iceCreamModalContent {
    display: flex;
    flex-direction: row;
    height: 90%;
}

#readyAndBuildIceCream {
    width: 58%;
    display: flex;
    flex-direction: column;
}

#cookingIceCream {
    height: 45%;
}

#cookingArrayIceCream {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    button {
        width: 10vw;
    }
}

#buildingIceCream {
    height: 55%;
}

#ordersAndFridgeIceCream {
    width: 44%;
    display: flex;
    flex-direction: column;
}

#orderIceCream {
    height: 65%;
}

#orderArrayIceCream {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

#fridgeIceCream {
    height: 35%;
}